CMSSY_API_URL=https://api.cmssy.io/graphql
CMSSY_TOKEN=cs_your_token
CMSSY_WORKSPACE_ID=your_workspace_id
WWI_SQL_URL=Server=127.0.0.1,1433;Database=WideWorldImporters;User Id=sa;Password=change-me;Encrypt=true;TrustServerCertificate=true
